body {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}

img {
  float: left;
  margin-top: 13px;
  margin-left: 13px;
}

.nav {
  max-width: 1353px;
  margin: auto;
  background-image: url(../img/navbackground.png);
  background-size: cover;
}

.navBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1353px;
  margin: auto;
}

.topNav {
  display: flex;
  flex-direction: row;
}
.topNav p {
  padding: 15px;
  border-right: solid 1px grey;
}
.topNav .search {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.topNav .search input {
  background-color: grey;
  margin: 0px;
  border: transparent 0px;
  padding-left: 10px;
}
.topNav .search button {
  background-color: grey;
  margin: 0px;
  border: transparent 0px;
  cursor: pointer;
}

.bottomNav {
  display: flex;
  flex-direction: row;
}
.bottomNav p {
  padding: 15px;
  border-right: solid 1px grey;
  background-color: darkgrey;
}

.mainContent {
  max-width: 1353px;
  margin: auto;
}

.item1 {
  grid-area: rover;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  height: 632px;
  background-image: url(../img/rover.png);
}

.item2 {
  grid-area: mass;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/mass.png);
}

.item3 {
  grid-area: events;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/mass.png);
}

.item4 {
  grid-area: glenn;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/glenn.png);
}

.item5 {
  grid-area: tech;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/tech.png);
}

.item6 {
  grid-area: moon;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/moon.png);
}

.item7 {
  grid-area: twitter;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  width: 10%;
  margin-right: 0%;
  padding-right: 0%;
  display: inline-block;
  float: right;
}

.item8 {
  grid-area: opportunity;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/opportunity.png);
}

.item9 {
  grid-area: mission;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/mission.png);
}

.item10 {
  grid-area: mars;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/mars.png);
}

.item11 {
  grid-area: insight;
  box-sizing: border-box;
  width: 100%;
  height: 316px;
  border: solid 8px black;
  background-size: cover;
  background-image: url(../img/insight.png);
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-areas: "rover rover mass events" "rover rover glenn glenn" "tech moon moon twitter" "opportunity mission mars insight";
}

.title {
  background-color: rgba(0, 10, 250, 0.5);
  margin: 0px;
}

/*# sourceMappingURL=input.css.map */
