@import "_variables";
@import "_mixins";

body {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px;
  font: {
    family: monospace;
  }
}

img {
  float: left;
  margin-top: 13px;
  margin-left: 13px;
}

.nav {
  max-width: $width;
  margin: auto;
  background-image: url(../img/navbackground.png);
  background-size: cover;
}

.navBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: $width;
  margin: auto;
}

.topNav {
  display: flex;
  flex-direction: row;
  p {
    padding: 15px;
    border-right: solid 1px grey;
  }
  .search {
    display: flex;
    justify-content: center;
    padding: 15px;
    input {
      @include search;
      padding-left: 10px;
    }
    button {
      @include search;
      cursor: pointer;
    }
  }
}

.bottomNav {
  display: flex;
  flex-direction: row;
  p {
    padding: 15px;
    border-right: solid 1px grey;
    background-color: darkgrey;
  }
}

.mainContent {
  max-width: $width;
  margin: auto;
}

.item1 {
  grid-area: rover;
  @include gridItem;
  height: 632px;
  background-image: url(../img/rover.png);

}
.item2 {
  grid-area: mass;
  @include gridItem;
  background-image: url(../img/mass.png);
}
.item3 {
  grid-area: events;
  @include gridItem;
  background-image: url(../img/mass.png);
}
.item4 {
  grid-area: glenn;
  @include gridItem;
  background-image: url(../img/glenn.png);
}
.item5 {
  grid-area: tech;
  @include gridItem;
  background-image: url(../img/tech.png);
}
.item6 {
  grid-area: moon;
  @include gridItem;
  background-image: url(../img/moon.png);
}
.item7 {
  grid-area: twitter;
  @include gridItem;
  width: 10%;
  margin-right: 0%;
  padding-right: 0%;
  display: inline-block;
  float: right;
}
.item8 {
  grid-area: opportunity;
  @include gridItem;
  background-image: url(../img/opportunity.png);
}
.item9 {
  grid-area: mission;
  @include gridItem;
  background-image: url(../img/mission.png);
}
.item10 {
  grid-area: mars;
  @include gridItem;
  background-image: url(../img/mars.png);
}
.item11 {
  grid-area: insight;
  @include gridItem;
  background-image: url(../img/insight.png);
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-areas:
    'rover rover mass events'
    'rover rover glenn glenn'
    'tech moon moon twitter'
    'opportunity mission mars insight';
}



.title {
  background-color: rgba(0, 10, 250, .5);
  margin: 0px;
}
