@import "_variables";
@import "_mixins";

body {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px;
  font: {
    family: monospace;
  }
}

img {
  float: left;
  margin-top: 13px;
  margin-left: 13px;
}

.nav {
  max-width: $width;
  margin: auto;
  background-image: url(../img/navbackground.png);
  background-size: cover;
}

.navBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: $width;
  margin: auto;
}

.topNav {
  display: flex;
  flex-direction: row;
  p {
    padding: 15px;
    border-right: solid 1px grey;
  }
  .search {
    display: flex;
    justify-content: center;
    padding: 15px;
    input {
      @include search;
    }
    button {
      @include search;
    }
  }
}

.bottomNav {
  display: flex;
  flex-direction: row;
  p {
    padding: 15px;
    border-right: solid 1px grey;
    background-color: darkgrey;
  }
}

.mainContent {
  max-width: $width;
  margin: auto;
}

.item1 {
  grid-area: rover;
  background-image: url(../img/rover.png);
  background-size: cover;
  width: 668px;
  height: 615px;
}
.item2 {
  grid-area: mass;
  background-image: url(../img/mass.png);
  width: 327px;
  height: 300px;
}
.item3 {
  grid-area: events;
  width: 327px;
  height: 300px;
}
.item4 {
  grid-area: glenn;
  background-image: url(../img/glenn.png);
  width: 668px;
  height: 300px;
}
.item5 { grid-area: tech; }
.item6 { grid-area: moon; }
.item7 { grid-area: twitter; }
.item8 { grid-area: opportunity; }
.item9 { grid-area: mission; }
.item10 { grid-area: mars; }
.item11 { grid-area: insight; }

.gridContainer {
  display: grid;
  grid-template-areas:
    'rover rover mass events'
    'rover rover glenn glenn'
    'tech moon moon twitter'
    'opportunity mission mars insight';
  * {
    margin: 8px;
  }
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}


.title {
  float: left;
  background-color: rgba(0, 10, 250, .5);
  margin: 0px;
}
